{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "airbnb",
    "airbnb-typescript",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "import",
    "react",
    "react-hooks"
  ],
  "globals": {
    "jest": true,
    "describe": true,
    "fdescribe": true,
    "xdescribe": true,
    "it": true,
    "xit": true,
    "beforeAll": true,
    "beforeEach": true,
    "afterAll": true,
    "afterEach": true,
    "expect": true,
    "localStorage": true,
    "Event": true,
    "Headers": true,
    "Request": true,
    "jasmine": true,
    "window": true,
    "document": true,
    "fetch": true
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "root": true,
  "ignorePatterns": [
    "tailwind.config.js",
    "postcss.config.js",
    "next.config.js"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021, // Set the ECMAScript version
    "sourceType": "module", // Set the source type to module
    "project": "./tsconfig.json" // Specify the path to your TypeScript project
  },
  "rules": {
    "no-console": ["warn", { "allow": ["info", "error"] }],
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "jsx-a11y/no-noninteractive-tabindex": "off",
    "eslint-comments/disable-enable-pair": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "prefer-destructuring": [
      "error",
      {
        "array": false,
        "object": true
      },
      {
        "enforceForRenamedProperties": false
      }
    ],
    "react/function-component-definition": [
      2,
      {
        "namedComponents": [
          "function-declaration",
          "function-expression",
          "arrow-function",
          "function-declaration",
          "function-expression",
          "arrow-function"
        ],
        "unnamedComponents": [
          "function-expression",
          "arrow-function",
          "function-expression",
          "arrow-function"
        ]
      }
    ],
    "react/jsx-props-no-spreading": [
      "error",
      {
        "html": "ignore",
        "custom": "ignore",
        "explicitSpread": "ignore",
        "exceptions": [""]
      }
    ],
    "react/button-has-type": "off",
    "import/no-anonymous-default-export": ["off"],
    "import/no-extraneous-dependencies": "off",
    "react/jsx-no-useless-fragment": "off",
    "no-restricted-imports": "off",
    "no-restricted-exports": "off",
    "no-unsafe-optional-chaining": "off",
    "import/no-restricted-paths": ["off"],
    "default-param-last": "off",
    "react/prop-types": 0,
    "react/no-array-index-key": 0,
    "react-hooks/exhaustive-deps": "off",
    "camelcase": "off",
    "no-warning-comments": 1,
    "import/prefer-default-export": "off",
    "jsx-a11y/no-static-element-interactions": 0,
    "react/destructuring-assignment": 0,
    "no-ternary": 0,
    "import/no-cycle": 0,
    "consistent-return": 0,
    "no-nested-ternary": 2,
    "import/imports-first": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "no-underscore-dangle": "off",
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": ["nesting", "id"]
        }
      }
    ],
    "no-unused-vars": "error",
    "import/extensions": ["error", "never"],
    "import/no-unresolved": "off",
    "sort-imports": [
      "warn",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true
      }
    ],
    "import/order": [
      1,
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          ["parent", "sibling", "index"],
          "object",
          "type",
          "unknown"
        ],
        "pathGroups": [
          { "pattern": "react*", "group": "external", "position": "before" },
          { "pattern": "@/*", "group": "external" },
          { "pattern": "{hooks,hooks/}", "group": "internal" },
          { "pattern": "@/helpers/", "group": "internal" },
          { "pattern": "@/services/", "group": "internal" },
          { "pattern": "@/store/", "group": "internal" },
          { "pattern": "@/components/", "group": "parent" },
          { "pattern": "{types/,/types,types}", "group": "type" }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "react/jsx-filename-extension": [
      2,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "no-use-before-define": "off",
    "react/require-default-props": "off"
  }
}
