{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 120,
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "tailwindPreserveDuplicates": true,
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["clsx"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
