@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-1 bg-transparent !important;
  }

  ::-webkit-scrollbar-track {
    @apply bg-base-100 !important;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-base-200 !important;
  }

  .image-blur {
    @apply blur-md filter transition-all duration-300 ease-linear;
  }

  .image-loaded {
    @apply filter-none;
  }

  .hero-footer {
    @apply absolute bottom-1/2 flex w-full flex-col items-center justify-center;
  }

  .hero-image {
    @apply h-full w-full object-cover object-center sm:object-center-to-top;
  }

  .absolute-center {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 transform;
  }

  .absolute-x-center {
    @apply absolute left-1/2 -translate-x-1/2 transform;
  }

  .react-tel-input .flag-dropdown.open .selected-flag {
    @apply !bg-transparent;
  }

  .react-tel-input .flag-dropdown .selected-flag:hover {
    @apply !bg-transparent;
  }
  .react-tel-input .country-list .country:hover {
    @apply !bg-neutral !text-base-300;
  }

  .react-tel-input .country-list .country.highlight {
    @apply !bg-neutral !text-base-300;
  }

  .auth-page_wrapper {
    @apply relative h-screen w-full items-center justify-center overflow-hidden;
  }

  .auth-page_form {
    @apply flex w-11/12 flex-col gap-y-2.5 rounded-md bg-base-100 p-4 shadow-2xl xs:p-5 sm:w-5/6 md:w-2/3 md:p-10 xl:w-1/2;
  }

  .auth-form_submit {
    @apply w-full hover:!bg-base-200 hover:text-base-100;
  }

  .auth-form_title {
    @apply text-center text-2xl text-base-200 sm:text-3xl md:text-4xl;
  }

  .auth-link {
    @apply btn w-full rounded-none border-none bg-transparent shadow-none outline-none hover:bg-base-200 hover:text-base-100;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}

.embla-standart {
  --slide-size: 90%;
  --slide-height: 100%;
  --slide-spacing: 0.5rem;
  --slide-size-lg: calc(100% / 3);
  --slide-size-md: calc(100% / 2);
  --slide-size-sm: calc(100% / 1);
}

.embla-mini {
  --slide-size: 100%;
  --slide-height: 200px;
  --slide-spacing: 1rem;
  --slide-size-lg: calc(100% / 2);
  --slide-size-md: calc(100% / 1.5);
  --slide-size-sm: calc(100% / 1);
}

.embla__viewport {
  overflow: hidden;
  padding: 0;
}

.embla__container {
  display: flex;
  backface-visibility: hidden;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  min-width: 0;
  flex: 0 0 var(--slide-size);
  margin-left: calc(var(--slide-spacing));
  margin-right: calc(var(--slide-spacing));
}

@media (min-width: 486px) {
  .embla__slide {
    flex: 0 0 var(--slide-size);
  }
  .embla__viewport {
    padding: 0 0.5rem;
  }
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-md);
  }
  .embla__viewport {
    padding: 0 1rem;
  }
}

@media (min-width: 1200px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
  }
  .embla__viewport {
    padding: 12px 0 6px 0;
  }
}

.emble_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.embla__controls {
  display: flex;
}

.embla__buttons {
  display: flex;
  align-items: center;
}

.flag-dropdown,
.selected-flag {
  background: transparent !important;
}

.flag-dropdown:hover,
.selected-flag:hover {
  background: transparent !important;
}

.react-zoom [data-rmiz-modal-overlay],
.react-zoom [data-rmiz-modal-img] {
  @apply transition-all duration-300 ease-linear;
}
.react-zoom [data-rmiz-modal-overlay='hidden'] {
  @apply bg-transparent;
}
.react-zoom [data-rmiz-modal-overlay='visible'] {
  @apply bg-base-100;
}
.react-zoom [data-rmiz-btn-unzoom] {
  @apply cursor-pointer bg-base-100 text-base-200;
}

.react-zoom [data-rmiz-btn-unzoom]:focus,
.react-zoom [data-rmiz-btn-unzoom]:active {
  @apply border-0 border-transparent;
}

.gm-style-iw-d {
  overflow: hidden !important;
}

.gm-style-iw {
  padding: 0px !important;
}

.card.image-full:before {
  background: rgb(0, 0, 0) !important;
  border-radius: 0 !important;
}
